 ul li{
	padding: 10px;
}
nav ul li a{
	text-transform: capitalize;
	font-weight: bold;
}
.bg-navy{
	background: #24C6DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: white;
}
.bg-darkblue{
	background-color: navy;
	color: white;
}
nav ul li a:hover{
	text-transform: capitalize;
	font-weight: bold;
	box-shadow: 2px;
	padding:5px;
}
body{
	background-color: white;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.card{
	border:none;
	border-radius: 0px;
	display: none;
}
thead tr{
	background-color: silver;
}
